extends layout.pug

block title
    title #{company}'s Responsive Email Templates in MJML

block content
    div.wrapper#header
        include includes/nav.pug
        div.inner-container
            div#title(style="margin:0 auto")
                div#title-buttons(style="text-align:center")
                    h1 Here are your templates 🧙
                    a.button.secondary(href="/") &larr; Back to templates creation
                    a.button.primary(href=zip download="mjml-templates.zip") Download templates
    div.wrapper#templates
        div.inner-container#templates
            div.thumbnail
                div.iframe-div
                    iframe(align="middle" srcdoc=template_1 ? template_1 : "<p>No content for template 1</p>")
                p Welcome email                  
            div.thumbnail
                div.iframe-div
                    iframe(srcdoc=template_2 ? template_2 : "<p>No content for template 2</p>")
                p Password reset  
            div.thumbnail
                div.iframe-div
                    iframe(srcdoc=template_3 ? template_3 : "<p>No content for template 3</p>")
                p Another template
            div.thumbnail
                div.iframe-div
                    iframe(srcdoc=template_1 ? template_1 : "<p>No content for template 1</p>")
                p Welcome email                  
            div.thumbnail
                div.iframe-div
                    iframe(srcdoc=template_2 ? template_2 : "<p>No content for template 2</p>")
                p Password reset  
            div.thumbnail
                div.iframe-div
                    iframe(srcdoc=template_3 ? template_3 : "<p>No content for template 3</p>")
                p Another template